#codeArea {
    width:50vw;
    height:90vh;
    font-family : 'mono';
    font-size: larger;
    color:midnightblue;
    background: linear-gradient(0deg, #96a1ffAA 0%, #96a1ffFF 100%);
    resize: none;
    border-radius: 2%;
    padding: 10px;
    border: none;
    outline: none;
}

body {
    background-color:#cfd4ff;
    display: flex;
}

#leftPanel {
    flex:1;
    margin:10px;
}

#rightPanel {
    flex:1;
    margin:10px;
}

#outputArea {
    background-color: #2c69af;
    display: flex;
}

button, #uploadButton {
    background-color: #2c69af;
    border-radius: 10px;
    color: #eeeeee;
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
    cursor: pointer;
    margin: 5px;
    font-weight: 500;
    font-family: sans-serif;
}

#controlZone {
    display: grid;
    grid-template:
        "a b" auto
        "c c" auto;
}

#downloadButton {
    grid-area: b;
}

#uploadButton {
    grid-area : a;
}

#volumeSlider {
    grid-area: c;
    flex-direction:row;
    display:flex;

}

.slider {
    scale: 1.5;
}