#codeArea {
    width:50vw;
    height:90vh;
    font-family : 'mono';
    font-size: larger;
    color:midnightblue;
    background-color: #96a1ff88;
    resize: none;
    border-radius: 2%;
    padding: 10px;
    border: none;
    outline: none;
}

body {
    background-color: aliceblue;
    display: flex;
}

#leftPanel {
    flex:1;
    margin:10px;
}

#rightPanel {
    flex:1;
    margin:10px;
    display: flex;
}

button, #uploadButton {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}